.coustom{
    background-color: black;
}
.humburger{
    outline: none;
    box-shadow: none;
}
.chatbox{
    border-radius: 10%;
    width: 500px;
    height: 500px;
    background-color: gray;
    margin-top: 5%;
}