.coustom{
    background-color: rgb(27, 26, 26);
}
.humburger{
    outline: none;
    box-shadow: none;
}
.chatbox{
    border-radius: 10%;
    width: 500px;
    height: 500px;
    background-color: gray;
    margin-top: 5%;
}
.left-section{
    background-color: #3d3d3d;
}
.right-section{
    background-color: #ffffff;
}
.section{
    background-color: #ffffff;
}
.hr-h5{
    width: 9%;
    margin-left: 3%;
}
.hr-soc{
    width: 19%;
    margin-left: 3%;
}
.hr-africa{
    width: 6%;
    margin-left: 3%; 
}
.hr-asia{
    width: 5%;
    margin-left: 3%;
}
.hr-ame{
    width: 21%;
    margin-left: 3%;
}
.hr-lat{
    width: 12%;
    margin-left: 3%;
}
.footer{
    background: #e3e3e3;
}
.hr-lag{
    width: 16%;
    border-width: 1px;
    padding-left: 79%;
    
}
.hr-footer{
    border-top: 1px dashed black;
}
.p-footer{
    margin-left: 10%;
}
.language{
    word-spacing: 2em;
}
.footer2{
    background: #e3e3e3;
}
.facebook{
    width: 12%;
    height: 12%;
}
.github{
    width: 29%;
    height: 29%;
}
.instagram{
    width: 14%;
    height: 14%;
}
.twitter{
    width: 17%;
    height: 17%;
    margin-left: 6%;
}
.img{
    margin-top: 30%;
}